<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-0 shadow-sm my-4">
                <div class="card-body">
                    <h3>All Todos</h3>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>

                </div>
            </div>
        </div>
    </div>
</div>