<div class="card mt-3">
    <div class="card-body">
        <h3>This is title</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia fugiat minus consectetur. Quasi rerum repellat perferendis quam deleniti labore quisquam iste sit reprehenderit atque magni earum accusamus officiis, ea mollitia!</p>
        <div class="container">
            <button class="btn btn-danger btn-sm">Delete</button>
            <button class="btn btn-primary btn-sm ms-3">Update</button>
        </div>
    </div>
</div>